<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Upload</title>
</head>

<body>
    <h1>CSVファイルアップロード</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br><br>
        <label for="lines_per_file">1ファイルあたりの行数:</label>
        <input type="text" name="lines_per_file" required placeholder="例: 100, 200">
        <br><br>
        <button type="submit">アップロード</button>
    </form>

    <hr>

    <h2>フォルダをクリア</h2>
    <form action="/clear" method="POST">
        <button type="submit">アップロード・出力ファイルを削除</button>
    </form>

</body>

</html>